@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?v24nz3');
  src:  url('fonts/icomoon.eot?v24nz3#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?v24nz3') format('truetype'),
    url('fonts/icomoon.woff?v24nz3') format('woff'),
    url('fonts/icomoon.svg?v24nz3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-telegram:before {
  content: "\e900";
}
.icon-email-svgrepo-com:before {
  content: "\e902";
}
.icon-location-point-svgrepo-com:before {
  content: "\e903";
}
.icon-habr:before {
  content: "\e901";
  color: #77a2b6;
}
.icon-profile:before {
  content: "\e923";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-location2:before {
  content: "\e948";
}
.icon-user-tie:before {
  content: "\e976";
}
.icon-github:before {
  content: "\eab0";
}
