&__small-col {
  flex-basis: 30%;

  @media (max-width: 768px) {
    flex-basis: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

  }

  @media (max-width: 640px) {
    flex-basis: 100%;
    display: block;
  }
}



