.img-test-1:before {
  content: '\e903';
  font-family: 'icomoon', sans-serif;

  font-size: 60px;
}
.img-test-2:before {
  content: '\e900';
  font-family: 'icomoon', sans-serif;
  font-size: 60px;

}
.img-test-3:before {
  content: '\e901';
  font-family: 'icomoon', sans-serif;
  font-size: 60px;

}
.img-test-4:before {
  content: '\e902';
  font-family: 'icomoon', sans-serif;
  font-size: 60px;
}
.img-test-5:before {
  content: '\ea95';
  font-family: 'icomoon', sans-serif;
  font-size: 60px;
}
.img-test-6:before {
  content: '\eab0';
  font-family: 'icomoon', sans-serif;
  font-size: 60px;
}


