extends ./layout

block append variables
  -
    title = "Main page";


block content
  a(href="main.html") main.pug
  br
  a(href="test.html") test.pug
  br
  p zzz


block append scripts
  script(src=require('../js/app.js'))