.social-networks {
  display: flex;
  justify-content: space-around;
  //gap: 10px 0;

  //padding: 0 10px;

  @import '__card/social-networks__card';
  @import '__icon/social-networks__icon';
  @import '__url/social-networks__url';
  @import '__username/social-networks__username';
  @import '__title/social-networks__title';

  @media (max-width: 1024px) {
    flex-direction: column;
  }
  @media (max-width: 768px) {
    gap: 10px 0;
  }
  @media (max-width: 640px) {
    flex-direction: row;
  }
  @media (max-width: 480px) {
    flex-direction: column;
    //gap: 0;
  }
}