.named-block-text {
  padding-bottom: 30px;
  //padding-left: 10px;
  //padding-right: 10px;

  @media (max-width: 768px) {
    //width: 50%;
    padding-left: 15px;
    padding-right: 15px;
  }
  @media (max-width: 640px) {
    //width: 50%;
    padding-left: 0;
    padding-right: 0;

  }



  
  @import '__header/named-block-text__header';
  @import '__content/named-block-text__content';
  @import '__education/named-block-text__education';
}

