.named-block-text {
  margin-bottom: 30px;

  @media (max-width: 768px) {

  }
  @media (max-width: 640px) {
    padding-left: 0;
    padding-right: 0;

  }



  
  @import '__header/named-block-text__header';
  @import '__content/named-block-text__content';
  @import '__education/named-block-text__education';
  @import '__work-exp/named-block-text__work-exp';
  @import '_a/named-block-text_a';
  @import '_b/named-block-text_b';
  @import '_c/named-block-text_c';
  
}

