&__icon {
  display: flex;
  align-items: center;

  line-height: 40px;


  @import '_telegram/social-networks__icon_telegram';
  @import '_github/social-networks__icon_github';
  @import '_resume/social-networks__icon_resume';
}