&__header {
  padding-bottom: 40px;
  border-bottom: 2px solid $color-line;
  margin-bottom: 57px;

  text-align: center;

  @media (max-width: 1024px) {
    //display: none;
  }
  @media (max-width: 640px) {
    padding-bottom: 5px;
    margin-bottom: 20px;
    text-align: left;
  }
}